body {
    background-image: url(Anotherrocks.jpg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: right;
}

h1 {
       border: 3px solid rgba(0, 128, 0, 0.215);
    background-color: rgba(47, 128, 0, 0.273); 
    border-radius: 50px;
    padding: 40px;
    color: rgb(41, 128, 128);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first {
    display: flex;
    justify-content: center;

}

.one {
    border: 3px solid green;
    border-radius: 20px;
    text-align: right;
    background-color: rgba(0, 128, 0, 0.314);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gold;
}

.eins {
    border: 2px solid gray;
    color: grey;
    background-color: rgba(47, 79, 79, 0.678);
    padding: 80px;
    border-radius: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.two {
    border: 0px solid red;
    display: flex;
    justify-content: center;
}

.best {
    border: 3px solid green;
    border-radius: 20px;
    text-align: left;
    background-color: rgba(0, 128, 0, 0.314);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gold
}