body {
   
    background-image: url(Welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

main {
    display: flex;
    justify-content: center;
    gap: 200px;
    flex-wrap: wrap;
}

.haupt {
    border: 0px solid gray;
    text-align: center;
    font-family: fantasy;
    font-size: 27px;
    
}

.one {
    border: 3px solid black;
    background-color: rgba(128, 128, 128, 0.503);
    width: 340px;
    height: 150px;
    text-align: center;
    font-size: 30px;
}

.one:hover {
    transition: all 1s;
    transform: scale(1.1);
    transform: rotate(180deg);
}

section:hover {
    background-color: orange;
    color: blue;
}

input:hover {
    transition: all;
    transform: rotate(180deg);
    transform: scale(1.1);
}

.last {
    text-align: center;
    border: 3px solid violet;
    border-radius: 500px;
}

.last:hover {
    background-color: brown;
    color: aquamarine;
}

button {
    border-radius: 30px;
    background-color: black;
    font-family: fantasy;
    color: cornflowerblue;
    padding: 20px;
    font-size: 30px;
}

.least {
    border: 3px solid black;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}

.top {
    font-size: 40px;
    text-align: right;
}

a {
    color: black;
}