body {
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    
}

div {
    border: 3px solid rgba(255, 0, 255, 0.51);
    background-color: rgb(142, 10, 165);
    text-align: center;
    width: 70px;
    height: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgrey;
}

header {
    text-align: center;
    border: 2px rgba(80, 255, 86, 0.578) solid;
    width: 1500px;
    height: 200px;
    border-radius: 90px;
    background-color: rgba(92, 255, 80, 0.574);
    font-family: fantasy;
    color: rgb(235, 135, 195);
    font-size: 40px;

}

main {
    text-align: center;
    border: 2px rgba(255, 127, 80, 0.578) solid;
    width: 490px;
    border-radius: 90px;
    background-color: rgba(255, 127, 80, 0.574);
    font-family: fantasy;
    color: skyblue;
}

footer {    
    display: flex;
    gap: 30px;
    border: 0px red solid;
    width: 493px; 
}

.first {
    padding-block-start: 100px;
}

.second {
    padding-block-start: 90px;
}

.third {
    padding-block-start: 80px;
}

.fourth {
    padding-block-start: 60px;
}

section.para {
    border: 3px solid coral;
    color: rgb(94, 255, 0);
    text-align: left;
    width: 1493px;
    background-color: rgba(255, 127, 80, 0.542);
    border-radius: 10px;
}

.head {
    text-align: center;
    border: 3px solid rgba(153, 205, 50, 0.627);
    background-color: rgba(153, 205, 50, 0.774);
    height: 100px;
    border-radius: 20px;
}
