button {
    border-radius: 10px;
    background-color: rgb(226, 43, 43);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th {
    border: 3px solid rgb(255, 60, 0);
    border-radius: 20px;
    background-color: coral;
}

li {
    list-style: none;
    }

    a {
        text-decoration: none;
    }
    
section {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(48, 51, 85, 0.567);
     border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(223, 187, 9, 0.767);
    align-items: center;
    padding-right: 40px;
    color: white;
    font-size: large;
}

body {
    background: linear-gradient(red, yellow);
}

.right {
    background-color: yellow;
    border-radius: 20px;
}